<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>

    <!--<link rel="stylesheet" href="../common/reset.css">-->
    <!--<link rel="stylesheet" href="../css/pages1.css">-->

    <!--<script src="../common/prototype.js"></script>-->
    <!--<script src="../common/high-grade.js"></script>-->
    <script src="../common/vue.js"></script>
</head>
<body>

<div id="txtNode"></div>

<div id="ins">
    <ul>
        <li id="li1">1</li>
        <li id="li2">2</li>
        <li id="li3">3</li>
    </ul>
</div>
<input type="text" id="name">
<span id="name-span"></span>

<hr>

<div id="app">
    <p>{{vname}}</p>
    <p>Using v-html directive: <span v-html="rawHtml"></span></p>
    <div v-bind:id="dynamicId">123</div>
    <button v-bind:disabled="isButtonDisabled">Button</button>
    <p style="display:none">显示与否</p>

</div>

<script>
    var v = new Vue({
        el: "#app",
        data: {
            vname: "陈宝俊",
            rawHtml: '<a href="#">html-a标签</a>',
            dynamicId: 'idname1',
            isButtonDisabled: true,
            none: 'none'
        },
        created: function () {
            // `this` 指向 vm 实例
            console.log('a is: ' + this.vname)
        }
    })
</script>



<!--<script src="../js/pages1.js"></script>-->
</body>
</html>