<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>

    <link rel="stylesheet" href="../common/reset.css">
    <link rel="stylesheet" href="../css/pages1.css">

    <script src="../common/prototype.js"></script>
    <script src="../common/high-grade.js"></script>

</head>
<body>

<div id="txtNode"></div>

<div id="ins">
    <ul>
        <li id="li1">1</li>
        <li id="li2">2</li>
        <li id="li3">3</li>
    </ul>
</div>

<script src="../js/pages1.js"></script>
</body>
</html>